@model IEnumerable<Account>;

@{
    ViewData["Title"] = "ผู้ใช้งาน";
    Layout = "~/Views/Shared/_LayoutBackOffice.cshtml";
    var idString = Context.Session.GetString("Id");
    int id;
    bool isValidId = int.TryParse(idString, out id);
    var users = Model.ToList();
     
}

            <div class="my-4">
                <div class="d-flex justify-content-between align-items-end px-1">
                    <h4 class="">รายชื่อผู้ใช้งาน</h4>

                </div>
                <div class="border" style="height: 1px;"></div>
            </div>
            @if (Model.Count() > 0)
            {
                <div class="">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>ลำดับ</th>
                                <th>ชื่อ - นามสกุล</th>
                                <th>ชื่อผู้ใช้งาน</th>
                                <th>อีเมล</th>
                                <th>เบอร์ติดต่อ</th>
                                <th>ที่อยู่</th>
                                <th class="text-center">ลบ</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0 ; i < users.Count; i++)
                            {
                            <tr>
                                <td>@(ViewBag.CurrentIndexItem + (i+1))</td>
                                <td>@users[i].FirstName @users[i].LastName</td>
                                <td>@users[i].Username</td>
                                <td>@users[i].Email</td>
                                <td>@users[i].Phone</td>
                                <td>@users[i].Address</td>
                                <td>
                            @if (id != users[i].Id)
                            {
                                <a onClick="deleteAccount(@users[i].Id)"
                                    class="btn btn-outline-danger w-100">
                                    ลบ
                                </a>
                            }
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="d-flex justify-content-end w-100">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <!-- if cuuren page > 1 then show previous page -->
                            <li class="page-item @((ViewBag.CurrentPage == 1) ? "disabled" : "")">
                                <a class="page-link" href="@Url.Action("Users", new { page = ViewBag.CurrentPage - 1 })">ก่อนหน้า</a>
                            </li>
                         

                            @for (var i = 1; i <= ViewBag.TotalPages; i++)
                            {
                                <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                                    <a class="page-link" href="@Url.Action("Users", new { page = i })">@i</a>
                                </li>
                            }

                            <!-- if cuuren page < totalpages then hidding newxt page -->
                            <li class="page-item @(ViewBag.CurrentPage >= ViewBag.TotalPages?"disabled" :"")">
                                <a class="page-link" href="@Url.Action("Users", new { page = ViewBag.CurrentPage + 1 })">ถัดไป</a>
                            </li>
                         
                        </ul>
                    </nav>
                </div>
            }
            else
            {
                <div class="alert alert-primary" role="alert">
                    ไม่มีข้อมูลผู้ใช้งาน
                </div>
            }
<script>
    function deleteAccount(id) {
        Swal.fire({
            title: "ต้องการลบผู้ใช้งานใช่ไหม?",
            showCancelButton: true,
            confirmButtonText: "ลบบัญชี",
            cancelButtonText: "ยกเลิก",
            confirmButtonColor: '#ef4444'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = `@Url.Action("DeleteAccount", "Account")?id=${id}`;
            }
        });
    }
</script>